*{
        margin:0;
        padding:0;
        box-sizing: border-box;
}
#nav{
        padding-bottom:5rem;
}
#title{
        background-color:#ff4c68;
}
#container1{
        padding:2% 15%;
}
.BiggerText{
        font-family: 'Montserrat';
        font-size: 3rem;
        line-height:1.5;
        color:#fff;
}
#iphoneImg{
        margin-top:2rem;
        transform:rotate(25deg);
        position:absolute;
} 
#imageContainer{
        padding:0 10rem 0 10rem;
}
#brand-text{
        font-family: 'Ubuntu', sans-serif;
        font-size:2.5rem;
        
}
.nav-item{
        padding:0 18px;
}
li{
        font-size:1.2rem;

}
.download-button{
        margin:3% 5% 0 0;
}
.benefit-container{
        padding:5%;
}
.benefit-description{
        font-family: 'Montserrat';
        font-size:1.5rem;
        text-align: center;
}
#features{
        background-color: #fff;
        padding:10% 15% 10% 15%;
        position: relative;
        z-index:1;
}
.sub-text{
        color:#8f8f8f;
        text-align: center;
        padding: 2% 10% 2% 10%;
}
.icon-size{
        font-size:2.5rem;
        padding-bottom:5%;
        text-align: center;
}
#testimonials{
        background-color:#EF8172;
        text-align:center;
}
#testimonials img{
        margin:20px;
        width:125px;
        border-radius:50%;
}
.testimonial-text{
        color: #fff;
        padding-bottom:3%;
        font-size:3rem;
        font-family:'Montserrat';
}
#testimonials em{
        color:#fff;
        font-family: 'Ubuntu';
}
#press{
        background-color: #EF8172;
        text-align:center;
        padding:10px 10px 50px 10px;
}
.press-img{
        width:300px;
        padding:3% 5% 3% 5%;
}
.carousel-container{
        padding: 7% 15%;
}
.pricing_description{
        text-align:center;
        font-family:'Montserrat';
        font-size:3rem;
}
#price-text{
        text-align: center;
        font-family: 'Ubuntu';
        color:#8f8f8f;
}
#pricing{
        padding:100px;
}

#card-container{
        padding:3% 2%;
}
.price-tag{
        text-align: center;
        font-family: 'Montserrat';
        font-size:2rem;
}
.card-body h2{
        text-align: center;
        font-family: 'Montserrat';
        font-size: 2.3rem;
}
.card-body p{
       text-align:center;
}
#cta{
        background-color: #ff4c68;
        padding:13%;
        text-align: center;

}
.callTa h3{
        font-family:'Montserrat';
        color: #fff;
        font-size:3.5rem;

}
#footer{
        padding:2%;
        text-align:center;
        font-family:'Ubuntu';
}
.social-icon{
        padding:5px;
}
#footer p{
        padding-top:13px;
}
@media (max-width:992px) {

        #iphoneImg 
        {
                text-align:center;
                margin-top: 3rem;
                transform: rotate(0deg);
                position:relative;
                right:150px;
        }
        #features {
                padding: 10% 15% 10% 15%;

        }
        .BiggerText {
                font-family: 'Montserrat';
                font-size: 3.5rem;
                line-height: 1.5;
                color: #fff;
        }
}